html {
  font-family: "Open Sans", sans-serif;
}

.header {
  padding: 1rem 4rem 1rem 4rem;
  border-bottom: 1px solid #e4e4e4;
}

@media screen and (max-width: 780px) {
  .header {
    padding: 1rem 2rem 1rem 1rem;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.header__logo__full {
  display: block;
}

@media screen and (max-width: 780px) {
  .header__logo__full {
    display: none;
  }
}

.header__logo__short {
  display: none;
}

@media screen and (max-width: 780px) {
  .header__logo__short {
    display: block;
    width: 6.5rem;
  }
}

.header__menu {
  width: 1.5rem;
  opacity: 0.35;
  position: absolute;
  bottom: 0;
  left: 1rem;
  display: none;
}

.header__menu:hover {
  cursor: pointer;
}

.header__menu__img {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/menu.svg");
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 1200px) {
  .header__menu {
    display: block;
  }
}

.header__menu p {
  font-size: 0.55rem;
}

.header__search {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  margin-bottom: 0.3rem;
  padding: 0.2rem 1rem;
  position: relative;
}

.header__search::-webkit-input-placeholder {
  color: #c7c7c7;
  letter-spacing: 1px;
  font-weight: 600;
}

.header__search:-ms-input-placeholder {
  color: #c7c7c7;
  letter-spacing: 1px;
  font-weight: 600;
}

.header__search::-ms-input-placeholder {
  color: #c7c7c7;
  letter-spacing: 1px;
  font-weight: 600;
}

.header__search::placeholder {
  color: #c7c7c7;
  letter-spacing: 1px;
  font-weight: 600;
}

.header__search:hover {
  border: 1px solid #333;
}

@media screen and (max-width: 1200px) {
  .header__navigation {
    display: none;
  }
}

.header__navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation__links li {
  border-bottom: 2px solid #fff;
}

.header__navigation__links li:hover {
  border-bottom: 2px solid #111;
}

.header__navigation__links li a {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  line-height: 2rem;
}

.main {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem;
}

.breadcrumbs {
  margin-bottom: 1rem;
}

.breadcrumbs nav {
  height: 2.5rem;
  border-bottom: 1px solid #e4e4e4;
}

.breadcrumbs nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
}

.breadcrumbs nav ol li {
  line-height: 2rem;
  color: #333;
}

.breadcrumbs nav ol li:not(:last-child):after {
  content: "/";
  margin: 0 0.7rem;
  color: #777;
  font-size: 0.85rem;
}

.breadcrumbs nav ol a {
  color: rgba(0, 0, 0, 0.5);
}

.filters {
  height: 2rem;
  color: #888;
  border-bottom: 1px solid #e4e4e4;
}

.filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.filters ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters ul li:after {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.5rem;
  content: "";
  background: url("../assets/chevron_down.svg") no-repeat 0 0;
  background-size: 100%;
}
/*# sourceMappingURL=styles.css.map */